/* Add your custom extension styling here */
.quick-settings {
  padding: 24px;
  border-radius: 32px; }

.quick-settings-grid {
  spacing-rows: 12px;
  spacing-columns: 12px; }

.quick-toggle {
  border-radius: 99px;
  min-width: 11.5em;
  max-width: 11.5em;
  min-height: 48px;
  border: none;
  /* Move padding into the box; this is to allow menu arrows
     to extend to the border */ }
  .quick-toggle:checked {
    transition-duration: 100ms;
    background-color: #3584e4;
    color: #fff; }
    .quick-toggle:checked:focus {
      box-shadow: inset 0 0 0 2px #629fea; }
    .quick-toggle:checked:hover, .quick-toggle:checked:focus {
      background-color: #4b92e7;
      color: white; }
    .quick-toggle:checked:active {
      background-color: #1d72d8;
      color: #ededed; }
    .quick-toggle:checked:insensitive {
      transition-duration: 100ms;
      color: rgba(255, 255, 255, 0.5);
      background-color: rgba(255, 255, 255, 0.05);
      background-color: rgba(53, 132, 228, 0.5);
      color: rgba(255, 255, 255, 0.5); }
  .quick-toggle > StBoxLayout {
    spacing: 6px; }
  .quick-toggle.button {
    padding: 0; }
  .quick-toggle > StBoxLayout {
    padding: 0 12px; }
  .quick-toggle:ltr > StBoxLayout {
    padding-left: 15px; }
  .quick-toggle:rtl > StBoxLayout {
    padding-right: 15px; }
  .quick-toggle .quick-toggle-label {
    font-weight: bold; }
  .quick-toggle .quick-toggle-icon, .quick-toggle .quick-toggle-arrow {
    icon-size: 1.09em; }

.quick-menu-toggle:ltr > StBoxLayout {
  padding-right: 0; }

.quick-menu-toggle:rtl > StBoxLayout {
  padding-left: 0; }

.quick-menu-toggle .quick-toggle-arrow {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 6px 10.5px; }
  .quick-menu-toggle .quick-toggle-arrow:ltr {
    border-radius: 0 99px 99px 0; }
  .quick-menu-toggle .quick-toggle-arrow:rtl {
    border-radius: 99px 0 0 99px; }

.quick-slider {
  padding: 0 6px; }
  .quick-slider > StBoxLayout {
    spacing: 6px; }
  .quick-slider .slider-bin {
    min-height: 16px;
    padding: 6px;
    border-radius: 99px; }
    .quick-slider .slider-bin:focus {
      transition-duration: 100ms;
      color: white;
      background-color: #3a414b;
      box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.6); }
      .quick-slider .slider-bin:focus:hover {
        background-color: #404852;
        box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.7); }
      .quick-slider .slider-bin:focus:active {
        background-color: #474f59;
        box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.7); }
  .quick-slider .quick-toggle-icon {
    icon-size: 1.09em; }
  .quick-slider .icon-button {
    background-color: transparent; }

.quick-toggle-menu {
  background-color: #353535;
  border-radius: 22px;
  padding: 16.5px;
  margin: 0 16.5px; }
  .quick-toggle-menu .header {
    spacing-rows: 3px;
    spacing-columns: 12px;
    padding-bottom: 12px; }
    .quick-toggle-menu .header .icon {
      icon-size: 1.635em;
      border-radius: 999px;
      padding: 9px;
      background-color: #494949; }
      .quick-toggle-menu .header .icon.active {
        background-color: #3584e4; }

.quick-toggle-menu-container {
  padding: 12px 6px 0; }

.quick-settings-system-item > StBoxLayout {
  spacing: 12px; }

.quick-settings-system-item .icon-button > StIcon {
  -st-icon-style: symbolic; }

.quick-settings-system-item .power-item {
  min-height: 0;
  min-width: 0; }
  .quick-settings-system-item .power-item:insensitive {
    transition-duration: 100ms;
    color: white;
    background-color: #3a3a3a;
    background-color: transparent; }

.nm-network-item .wireless-secure-icon {
  icon-size: 0.545em; }

.quick-toggle-menu .header .title {
  font-weight: 700;
  font-size: 15pt; }

.quick-toggle-menu .header .subtitle, .app-menu .popup-inactive-menu-item:first-child > StLabel {
  font-weight: 700;
  font-size: 9pt; }

.icon-button {
  border-radius: 99px;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  padding: 12px;
  transition-duration: 100ms;
  color: white;
  background-color: #3a3a3a; }
  .icon-button:focus {
    transition-duration: 100ms;
    color: white;
    background-color: #3a414b;
    box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.6); }
    .icon-button:focus:hover {
      background-color: #404852;
      box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.7); }
    .icon-button:focus:active {
      background-color: #474f59;
      box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.7); }
  .icon-button:hover {
    transition-duration: 100ms;
    color: white;
    background-color: #424242; }
  .icon-button:insensitive {
    transition-duration: 100ms;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.05); }
  .icon-button:active {
    transition-duration: 100ms;
    color: white;
    background-color: #494949; }
  .icon-button:checked {
    transition-duration: 100ms;
    color: white;
    background-color: #515151; }
    .icon-button:checked:hover {
      background-color: #595959; }
    .icon-button:checked:active {
      background-color: #606060; }
  .icon-button > StIcon {
    icon-size: 1.09em; }
